<div class="card mmy-2">
  <h4 class="card-header "> Warehouse</h4>
  <div class="card-body pp-1">
    <h2>Content</h2>


    <progressbar [value]="warehouseBarValues" [max]="warehouseCapacity" class="progress my-2" style="height: 2em;" [striped]="true" [animate]="true">
    </progressbar>

    <!-- <progressbar [max]="warehouseCapacity" [value]="warehouseUsage" type="primary" [striped]="true" [animate]="true" class="my-2 progress" showValue="true"      style="height: 2em"> <i>{{warehouseUsage}} / {{warehouseCapacity}}</i></progressbar> -->


    <!-- <app-materials-table [caption]="'Raw Materials'" [table]="rawMaterialsList" [total]="totalRawMaterialsQty" [showTotal]="true">
    </app-materials-table>

    <app-materials-table [caption]="'Materials'" [table]="materialsList" [total]="totalMaterialsQty" [showTotal]="true"></app-materials-table> -->




  </div>
</div>
