<div class="card m-2 ">
  <h4 class="card-header "> {{entity.Name}}</h4>
  <div class="card-body p-1 m-auto">
    <div class="d-flex">
      <div class="asset-icon" [ngStyle]="{'background-image': 'url('+ imgUrl +')'}">
        <p class="asset-icon-content">{{remainPcs | number:'1.0-0' }}</p><br>
      </div>
    </div>
  </div>

  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{'width': percentProgress+'%'}"
      aria-valuenow="percentProgress" aria-valuemin="0" aria-valuemax="100">{{percentProgress}}%</div>
    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" [ngStyle]="{'width': (100-percentProgress)+'%'}"
      aria-valuenow="100-percentProgress" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

</div>
