.asset-icon {
  max-width: 10em;
  max-height: 4.75em;
  min-width: 4.75em;
  min-height: 4.75em;
  background-size: contain;
  text-align: center;
}

.asset-icon-content {
  font-weight: bold;
  line-height: normal;
  font-size: 4em;
  color: ghostwhite;
  text-shadow: 0px 0px 5px darkgreen;
}

img {
  max-width: 75px;
  max-height: 75px;
}

.card {
  max-width: 18.5rem;
  min-width: 7rem;
  /* max-height: 10em; */
}

.card-header {
  font-size: medium;
  font-weight: bold;
}

label {
  line-height: 0;
}

.shadow-green {
  box-shadow: 5px 5px 5px #008a00;
}

.progress{
  margin: 0.2em;
  width: 95%;
}
