<div class="card status-bar ">
  <div class="card-body p-1 ">

    <div class="d-flex ">
      <div class="card m-1 tile">
        <div class="card-header mx-auto py-0"> <b>Date</b> </div>
        <div class="card-body mx-auto p-1 d-flex">
          <p class="card-text align-self-center">{{Age | number:'1.1-1'}} NE</p>
        </div>
      </div>
      <div class="card m-1 tile">
        <div class="card-header mx-auto py-0"> <b>Name </b></div>
        <div class="card-body mx-auto p-1 d-flex">
          <p class="card-text align-self-center">{{Name}}</p>
        </div>
      </div>
      <div class="card m-1 tile">
        <div class="card-header mx-auto py-0"> <b>Cash </b></div>
        <div class="card-body mx-auto p-1 d-flex">
          <p class="card-text align-self-center">{{Cash.Quantity}}</p>
        </div>
      </div>
      <div class="card m-1 tile">
        <div class="card-header mx-auto py-0"> <b>Power</b> </div>
        <div class="tile card-body mx-auto p-1 d-flex">
          <div class="card-text align-self-center">
            <table class="">
              <tbody>
                <tr>
                  <td scope="" class="p-0 col-nonumbers">Prod</td>
                  <td scope="" class="p-0 col-nonumbers">Usage</td>
                </tr>
                <tr>
                  <td scope="" class="p-0 ">{{energyProduction}}</td>
                  <td scope="" class="p-0 ">{{energyUsage}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-lg btn-primary m-1 p-0 ml-auto shadow-green" (click)="nextTurn()">Next<br>Turn</button>

    </div>
  </div>
</div>
