<!-- <div class="card my-2">
  <h4 class="card-header "> Annoncements</h4>
  <div class="card-body p-1">
    <h5 *ngIf="tradeAnnouncement.shipSize>0">
      <p class="card-text m-0">Space Cargo Ship <kbd>RPSCS '{{tradeAnnouncement.shipName}}-{{tradeAnnouncement.shipSize}}'</kbd> owned by Company
        <kbd>{{tradeAnnouncement.companyName}}</kbd> on route from <kbd>{{tradeAnnouncement.originPlanetName}}</kbd> to
        <kbd>{{tradeAnnouncement.destinationPlanetName}}</kbd> is landed.</p>
    </h5>
    <h3 *ngIf="tradeAnnouncement.shipSize<1">There is no Space Cargo Ship landed.</h3>
  </div>
</div> -->
