<div class="card my-2">


  <div class="card m-2">
    <h4 class="card-header "> Annoncements</h4>
    <div class="card-body pp-1">
      <span *ngFor="let item of news"> {{item}}<br></span>
    </div>
  </div>

  <div class="card m-2">
    <h4 class="card-header "> Player Notes: </h4>
    <div class="card-body p-0">
      <textarea class="form-control m-2 player-notes" id="exampleFormControlTextarea3" rows="5" [(ngModel)]="playerNotes"
        placeholder="your notes"></textarea>
    </div>
  </div>

</div>
