<nav class="navbar flex-column navbar-expand-lg navbar-dark bg-darkkkk p-0 m-0">
  <a class="navbar-brand navbar-logo px-0 mx-0" [routerLink]="[ '/overview']">Kolony<br>2144</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="menu collapsde navbar-collsapse" id="navbarNavAltMarkup">
    <div class="navbar-nav flex-column btn-group-toggle" data-toggle="buttons">
      <label [routerLink]="[ '/news']" class="btn btn-outline-primary mx-2 my-1 active">
        <input type="radio" name="options" id="news" autocomplete="off" checked>
        News </label>
      <label [routerLink]="[ '/overview']" class="btn btn-outline-primary mx-2 my-1 ">
        <input type="radio" name="options" id="overview" autocomplete="off">
        Overview </label>
      <label [routerLink]="[ '/finances']" class="btn btn-outline-primary mx-2 my-1">
        <input type="radio" name="options" id="finances" autocomplete="off">
        Finances </label>
      <label [routerLink]="[ '/power']" class="btn btn-outline-primary mx-2 my-1 ">
        <input type="radio" name="options" id="power" autocomplete="off" checked>
        Power </label>
      <label [routerLink]="[ '/crew']" class="btn btn-outline-primary mx-2 my-1">
        <input type="radio" name="options" id="crew" autocomplete="off">
        Crew </label>
      <label [routerLink]="[ '/buildings']" class="btn btn-outline-primary mx-2 my-1">
        <input type="radio" name="options" id="buildings" autocomplete="off">
        Buildings </label>
      <label [routerLink]="[ '/wiki']" class="btn btn-outline-primary mx-2 my-1">
        <input type="radio" name="options" id="wiki" autocomplete="off">
        Wiki </label>
      <!--
      <label [routerLink]="[ '/machines']" class="btn btn-outline-primary mx-2 my-1">
        <input type="radio" name="options" id="option9" autocomplete="off">
        Machines </label>
      <label [routerLink]="[ '/warehouse']" class="btn btn-outline-primary mx-2 my-1">
        <input type="radio" name="options" id="option5" autocomplete="off">
        Warehouse </label>
      <label [routerLink]="[ '/production']" class="btn btn-outline-primary mx-2 my-1">
        <input type="radio" name="options" id="option6" autocomplete="off">
        Production </label>
      <label [routerLink]="[ '/mining']" class="btn btn-outline-primary mx-2 my-1">
        <input type="radio" name="options" id="option10" autocomplete="off">
        Mining </label>
      <label [routerLink]="[ '/trade']" class="btn btn-outline-primary mx-2 my-1">
        <input type="radio" name="options" id="option7" autocomplete="off">
        Trade </label> -->
    </div>

  </div>

  <!-- <div class="menu collapse navbar-collapse" id="navbarNavAltMarkup2">
    <div class="navbar-nav flex-column ">
      <a class="nav-item nav-link" [routerLink]="[ '/science']">Science</a>
      <a class="nav-item nav-link" [routerLink]="[ '/military']">Military</a>
      <a class="nav-item nav-link" [routerLink]="[ '/save-game']">SaveGame</a>
    </div>
  </div> -->
</nav>
