@import "src/_global";

.trade-input {
  //fixit not percent
  width: max-content;
}

.trade-btn {
  border-color: $dark-green;
  width: -webkit-fill-available;
  min-width: -webkit-fill-available;
  max-width: -webkit-fill-available;
  height: 100%;
}

.trade-btn-group {
  border-color: $dark-green;
  width: -webkit-fill-available;
}

th,
.td-name {
  max-width: 6rem;
  white-space: normal;
}

.td-table {
  width: 21%;
}


// disable up/down arrows in input field
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
