@import "src/_global";

.trade-btn {
  border-color: $dark-green;
  width: -webkit-fill-available;
  max-width: fit-content;
}

.trade-btn-group {
  border-color: $dark-green;
  width: -webkit-fill-available;
}

th,
.td-name {
  max-width: 6rem;
  white-space: normal;
}

.td-table {
  width: 25%;
}
