@import "src/_global";

.trade-btn {
  border-color: $dark-green;
  width: -webkit-fill-available;
}

.trade-btn-group {
  border-color: $dark-green;
  width: -webkit-fill-available;
}

th,
.td-name {
  max-width: 6rem;
  white-space: normal;
}
