<div class="card m-2 ">
  <h4 class="card-header d-flex justify-content-end">
    <span> {{entity.Name}}</span>
    <!-- <span class="ml-auto" [ngClass]="{'negative-red': (maxProductionQty > 0) && (productionQty > maxProductionQty)}">(max:{{maxProductionQty}})</span> -->
  </h4>
  <div class="card-body p-1">
    <div class="d-flex">

      <img [src]="imgUrl" alt="" [align]="'top'" class=" mb-2 shadow-green">

      <div class="col m-0 p-0">

        <div class="input-group mdx-1 d-flex justify-content-end pr-2">
          <div class="input-group-prepend shadow-green">
            <span class="input-group-text py-0 px-1">Qty:</span>
          </div>
          <input #productionQtyInput [ngModel]="productionQty" [min]=1 type="number" class="form-control form-control-sm shadow-green"
            id="idproductionQty" placeholder="Qty" (ngModelChange)="onQtyChange($event)" required>
          <div class="input-group-append">
            <button class="btn btn-outline-primary input-group-text px-2 shadow-green" type="button" id="button-addon2"
              (click)='addItemToProductionQueue()' [disabled]="maxProductionQty<1">To<br>Queue</button>
          </div>
        </div>



        <div class="btn-group mccx-1 m-2 d-flex justify-content-end " role="group" aria-label="Basic example">
          <button type="button" class="btn btn-sm btn-outline-primary shadow-green " (click)="quickAdd(-productionQty)">Clear</button>
          <button type="button" class="btn btn-sm btn-outline-primary shadow-green btn-digit" (click)="quickAdd(-10)">-10</button>
          <button type="button" class="btn btn-sm btn-outline-primary shadow-green btn-digit" (click)="quickAdd(-1)">-1</button>
          <button type="button" class="btn btn-sm btn-outline-primary shadow-green btn-digit" (click)="quickAdd(1)">+1</button>
          <button type="button" class="btn btn-sm btn-outline-primary shadow-green btn-digit" (click)="quickAdd(10)">+10</button>
          <button type="button" class="btn btn-sm btn-outline-primary shadow-green " (click)="quickAdd(maxProductionQty)">+Max</button>
        </div>


      </div>



    </div>

    <table class="table shadow-green">
      <thead class="thead-dark">
        <tr>
          <th scope=""></th>
          <th scope="">Unit</th>
          <th scope="">Total</th>
          <th scope="">Stock</th>
          <th scope="">UoM</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productionCostRows">
          <td class="px-1 ">{{item.Name }}</td>
          <td class="px-1 col-numbers">{{item.QtyPerUnit}}</td>
          <td class="px-1 col-numbers">{{item.TotalQty }}</td>
          <td class="px-1 col-numbers" [ngClass]="{'negative-red': item.TotalQty > item.StockQty}">{{item.StockQty  }}</td>
          <td class="px-1 ">{{item.UoM}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<!-- <div *ngFor="let item of asset.ProductionCost" class="input-group m-1">
          <div class="input-group-prepend">
            <span class="input-group-text py-0 px-1">{{item.Name}}</span>
            <span class="input-group-text py-0 px-1">{{item.Quantity}}</span>
          </div>
          <div class="input-group-append">
            <span class="input-group-text py-0 px-1">{{item.Quantity}}</span>
          </div>
        </div> -->







<!-- <span>Type: {{item.MainType}} </span>
    <span>UOM: {{item.UoM}} </span>
    <br><span>desc: {{item.Description}} </span>
    <br><span>ProductionCost:</span> -->
