img {
  // max-width: 75px;
  // max-height: 75px;
  max-width: 4.75em;
  max-height: 4.75em;
  background-size: contain;
}

.card {
  max-width: 21rem;
  min-width: 21rem;
  /* max-height: 10em; */
}

.card-header {
  font-size: medium;
}



input {
  min-width: 2rem;
  max-width: 6.5rem;
  height: auto;
}

input,
.input-group-text {
  font-weight: bold;
}


label {
  line-height: 0;
}



table {
  // max-width: 17em;
  // min-width: 17rem;
  border: 1px solid darkgreen;
}

td,
th,
.input-group-text {
  font-size: smaller;
  font-weight: bold;
  padding: 0px;
  vertical-align: middle;
  text-align: left;
  white-space: normal;
}

td {
  font-size: x-small;
}


// .col-numbers {
//   text-align: right;
//   white-space: nowrap;
// }

// .shadow-green {
//   box-shadow: 5px 5px 5px #008a00;
// }

.total {
  font-weight: bold;
}



.btn {
  color: lime;
  border: 1px solid lime;
  background: green;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-outline-primary:hover {
  color: black;
  background: lime;
}

.btn-outline-primary:not(:disabled):not(.disabled).active {
  color: black;
  background: limegreen;
}

.btn-digit {
  min-width: 2.5em;
  max-width: 2.5em;
}
