<div class="card my-2">
  <!-- <progressbar [value]="60" [max]="100" class="progress m-2" style="height: 2em;" [striped]="true" [animate]="true">
  </progressbar> -->
  <!-- <progressbar [max]="warehouseCapacity" [value]="warehouseUsage" type="primary" [striped]="true" [animate]="true" class="my-2 progress" showValue="true"      style="height: 2em"> <i>{{warehouseUsage}} / {{warehouseCapacity}}</i></progressbar> -->
  <!-- <h4 class="card-header "> </h4> -->

  <div class="card m-2 ">
    <h4 class="card-header "> PowerOverview</h4>

    <div class="card-body p-1">
      <app-tile-with-table [caption]="'co mi zzera power'" [header]="consumingItemsTableRows[0]" [rows]="consumingItemsTableRows.slice(1)">
      </app-tile-with-table>
      <app-tile-with-table [caption]="'co mi produkuje power'" [header]="producingItemsTableRows[0]" [rows]="producingItemsTableRows.slice(1)">
      </app-tile-with-table>
    </div>

  </div>


  <app-player-notes></app-player-notes>
</div>
