<div class="card my-2">


  <div class="card m-2 ">
    <h4 class="card-header "> Dev Tab</h4>
    <div class="card-body p-1">


      <div class="card m-2 ">
        <h4 class="card-header "> dev List</h4>
        <div class="card-body p-1">
          <button type="button" class="btn btn-primary" (click)="saveGame()">save game</button> dev
          <button type="button" class="btn btn-primary" (click)="loadGame()">load game</button> dev
          <button type="button" class="btn btn-primary" (click)="add10kSB()">add 10000SB</button> dev
        </div>
        <div class="card-body p-1">

          <!-- <div class="row d-inline-flex">

            <div class="col">
              <div class="dropdown open">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  entity
                </button>
                <div class="dropdown-menu" aria-labelledby="triggerId">
                  <a *ngFor="let item of entities" class="dropdown-item" href="#">{{item.Name}}</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <input type="number" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
              </div>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary">ADD</button>
            </div>

          </div> -->




          <div class="d-inline-flex">

            <div class="dropdown open">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{selectedEntity.Name}}
              </button>
              <div class="dropdown-menu" aria-labelledby="triggerId">
                <button *ngFor="let item of entities" class="dropdown-item" (click)="selectedEntity=item">{{item.Name}} -
                  {{item.Quantity}}</button>
              </div>
            </div>
            <div>
              <p>{{selectedEntity.Quantity}}</p>
            </div>
            <div class="form-group">
              <input #qty type="number" class="form-control" name="nameqty" id="idqty" aria-describedby="helpId" placeholder="">
            </div>
            <button type="button" class="btn btn-primary" (click)="addQty(qty.value)">ADD</button>
            <button type="button" class="btn btn-primary" (click)="setQty(qty.value)">SET</button>

          </div>

        </div>
      </div>




    </div>
  </div>



</div>
