<div class="card my-2">


  <div class="card m-2 ">
    <h4 class="card-header "> Dev Tab</h4>
    <div class="card-body p-1">


      <div class="card m-2 ">
        <h4 class="card-header "> dev List</h4>
        <div class="card-body p-1">
          <button type="button" class="btn btn-primary" (click)="saveGame()">save game</button> dev
          <button type="button" class="btn btn-primary" (click)="loadGame()">load game</button> dev
          <button type="button" class="btn btn-primary" (click)="add10kSB()">add 10000SB</button> dev
        </div>
      </div>



    </div>
  </div>



  <app-player-notes></app-player-notes>
</div>
