<div class="card m-2 mb-4" data-toggle="collapse" [attr.data-target]="'#'+cardid" aria-expanded="true" aria-controls="collapseExample">

  <h4 *ngIf="caption.length>0" class="card-header ">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
    {{caption}}
  </h4>


  <div class="card-body p-0 collapse show" [attr.id]="cardid">


    <table class="table table-sm table-striped table-bordered  table-hover m-0">

      <thead class="thead-dark">
        <tr *ngIf="header">
          <th *ngFor="let item of header" scope="col" class=" "> {{item}}</th>
        </tr>
      </thead>

      <tbody *ngIf="rows">
        <tr *ngFor="let row of rows">
          <td scope="row" class="col-nonumbers-align-left"> {{row[0]}} </td>
          <td *ngFor="let item of row | slice:1" scope="row" [ngClass]="{'negative-red': item<0}"> {{item}} </td>
        </tr>
      </tbody>

      <thead class="thead-dark">
        <!-- TODO: make nhClass -->
        <tr *ngIf="footer">
          <td *ngFor="let item of footer" scope="row"><b> {{item}} </b></td>
        </tr>
      </thead>

    </table>


  </div>
</div>
