table {
  // max-width: 17em;
  // min-width: 17rem;
  // border: 1px solid darkgreen;
}

td,
th {
  font-size: smaller;
  padding: 0px;
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
}

th{
  white-space: normal;
  text-align: center;
}

.col-nonumbers {
  text-align: left;
  white-space: normal;
}

.total {
  font-weight: bold;
}

.card-header {
  font-size: medium;
}
