<div class="card my-2">

  <div class="card m-2">
    <h4 class="card-header "> Trade Overview</h4>

    <h4>wyaldowal statek varg-1500 z planety name bla bkl abla</h4>

    <div *ngIf="isShipIncoming" class="card m-2" data-toggle="collapse" data-target="#trade">
      <h5 class="card-header "> <i class="fas fa-chevron-right"></i> Trade Panel </h5>

      <div #trade class="card-body p-1 collapse show" id="idannouncements">

        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-resources" role="tab" aria-controls="nav-resources"
              aria-selected="true">Resources</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-crew" role="tab" aria-controls="nav-crew"
              aria-selected="false">Crew</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#navnav-machines" role="tab" aria-controls="navnav-machines"
              aria-selected="false">Machines</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-resources" role="tabpanel" aria-labelledby="nav-home-tab">
            <app-ship-trade-panel [tradePanelData]="tradeResourcesPanelValuesFIXNAME"></app-ship-trade-panel>
          </div>
          <div class="tab-pane fade" id="nav-crew" role="tabpanel" aria-labelledby="nav-profile-tab">
            <!-- <app-ship-trade-panel [resourcesList]="crewList"></app-ship-trade-panel> -->
          </div>
          <div class="tab-pane fade" id="navnav-machines" role="tabpanel" aria-labelledby="nav-contact-tab">
            <!-- <app-ship-trade-panel [resourcesList]="machinesList"></app-ship-trade-panel> -->
          </div>
        </div>



      </div>
    </div>

    <div class="card m-2">
      <h4 class="card-header "> Player Notes: </h4>
      <div class="card-body p-1 m-1">
        <textarea class="form-control m-2 player-notes" id="playerNotesTextArea" rows="5" [(ngModel)]="playerNotes"
          placeholder="your notes"></textarea>
      </div>
    </div>

  </div>

</div>
