<div class="card my-2">

  <div class="card m-2 ">
    <h4 class="card-header "> Buildings overview</h4>
    <div class="card-body p-1">

      <app-construction-queue></app-construction-queue>

      <app-construction-panel></app-construction-panel>





      <app-tile-with-table [caption]="'Buildings List'" [header]="kolonyBuildingsTableRows[0]" [rows]="kolonyBuildingsTableRows.slice(1)">
      </app-tile-with-table>




      <!-- <div class="alert alert-warning alert-dismissible fade show m-2" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <hr> -->





    </div>
  </div>
</div>
