<div class="card my-2">

  <div class="card m-2 ">
    <h4 class="card-header "> BuildingsOverview</h4>
    <div class="card-body p-1">


      <div #buildings class="card-body p-1 collapse show" id="idbuildings">

        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-construction" role="tab"
              aria-controls="nav-construction" aria-selected="true">Construction</a>
            <a class="nav-item nav-link" id="nav-summary-tab" data-toggle="tab" href="#nav-summary" role="tab" aria-controls="nav-summary"
              aria-selected="false">Summary</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-construction" role="tabpanel" aria-labelledby="nav-construction-tab">
            <app-construction-queue></app-construction-queue>
            <app-construction-panel></app-construction-panel>
          </div>
          <div class="tab-pane fade" id="nav-summary" role="tabpanel" aria-labelledby="nav-summary-tab">
            <app-tile-with-table [caption]="'Buildings List'" [header]="kolonyBuildingsTableRows[0]" [rows]="kolonyBuildingsTableRows.slice(1)">
            </app-tile-with-table>
          </div>
        </div>



      </div>

    </div>
  </div>


</div>
