<div class="card my-2">

  <div class="card m-2 ">
    <h4 class="card-header "> Buildings overview</h4>
    <div class="card-body p-1">

      <div class="card m-2 ">
        <h4 class="card-header "> Current Production Queue</h4>
        <div class="card-body p-1">
          kolejka budowy
        </div>
      </div>


      <div class="card m-2 ">
        <h4 class="card-header "> building list</h4>
        <div class="card-body p-1">
          kafelki z budynkami i dodawanie dokolejki
          <div class="d-flex flex-wrap">
            <app-asset-tile *ngFor="let item of allBuildingsList" [asset]="item"></app-asset-tile>
          </div>
        </div>
      </div>




      <app-tile-with-table [caption]="'Buildings List'" [header]="kolonyBuildingsList[0]" [rows]="kolonyBuildingsList.slice(1)">
      </app-tile-with-table>







      <!-- <div class="alert alert-warning alert-dismissible fade show m-2" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <hr> -->





    </div>
  </div>
</div>
