<div class="card mmy-2">
  <h4 class="card-header "> Kolony Overview</h4>
  <div class="card-body pp-1">
    <div class="row">
      <div class="col">
        <app-tile-with-table [caption]="'Properties'" [table]="propertiesList" [isLastRowTotal]="showTotal"></app-tile-with-table>
      </div>
      <div class="col">
        <app-tile-with-table [caption]="'Raw Resources'" [table]="rawResourcesList" [isLastRowTotal]="showTotal"></app-tile-with-table>
      </div>
      <div class="col">
        <app-tile-with-table [caption]="'Inventory Items'" [table]="inventoryItemsList" [isLastRowTotal]="showTotal"></app-tile-with-table>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <app-tile-with-table [caption]="'Power Sources'" [table]="powerSourcesList" [isLastRowTotal]="showTotal"></app-tile-with-table>
      </div>
      <div class="col">
        <app-tile-with-table [caption]="'Power Facilities'" [table]="powerFacilitiesList" [isLastRowTotal]="showTotal"></app-tile-with-table>
      </div>
      <div class="col">
        <app-tile-with-table [caption]="'Energy'" [table]="energyList" [isLastRowTotal]="showTotal"></app-tile-with-table>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-tile-with-table [caption]="'Crew'" [table]="crewList" [isLastRowTotal]="showTotal"></app-tile-with-table>
      </div>
      <div class="col">
        <app-tile-with-table [caption]="'Robots'" [table]="robotsList" [isLastRowTotal]="showTotal"></app-tile-with-table>
      </div>
      <div class="col">
        <app-tile-with-table [caption]="'Machines'" [table]="machinesList" [isLastRowTotal]="showTotal"></app-tile-with-table>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-tile-with-table [caption]="'Buildings'" [table]="buildingsList" [isLastRowTotal]="showTotal"></app-tile-with-table>
      </div>
      <div class="col">
        <app-tile-with-table [caption]="'Raw Deposits'" [table]="rawDepositsList" [isLastRowTotal]="showTotal"></app-tile-with-table>
      </div>
      <div class="col">
      </div>
    </div>






  </div>
</div>



<!-- <app-buildings-overview></app-buildings-overview> -->


<div class="card my-2">
  <h4 class="card-header "> Player Notes: </h4>
  <div class="card-body p-0">
    <!-- <p *ngFor="let item of table" class="card-text m-0">{{item}}</p> -->
    <!-- <textarea class="form-control" id="exampleFormControlTextarea2" rows="5" [(ngModel)]="notes" placeholder="your notes"></textarea> -->

    <textarea class="form-control" id="exampleFormControlTextarea3" rows="5" [(ngModel)]="notes" placeholder="your notes"></textarea>
  </div>
</div>
